/* Custom Properties */
:root {
  /* Colors */
  --primary-color-300: #7f8cff;
  --primary-color-400: #6070ff;
  --primary-color-500: #396df2;
  --dark-blue: #172b4d;
  --text-color: #344563;
  --white: #ffffff;
  --grey-200: #ebebff;
  --grey-300: #f7f7f9;
  --gray-400: #c1c7d0;
  --grey-500: #b3bac5;
  --gray-600: #7a869a;
  --light-blue: #ebebff;
  --background-color: #e5e5e5;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;

  /* Font Sizes */

  --fs-400: 16px;
  --fs-500: 18px;
  --fs-900: 40px;
}

/* General Styles */
body {
  font-family: var(--font-poppins);
  background-color: var(--background-color);
}

.container {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 2.25em 1em 1.5em;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;

  background-color: var(--white);
}

/* Logo Styles */
.header__logo {
  color: var(--primary-color-400);
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-500);
  line-height: 1.25em;
}

/* Navbar Styles */
.header__nav {
  display: none;
}

.header__hamburger-menu {
}

/* Intro Styles */
.intro {
  background-image: url("assets/header-shapes-mobile.svg");
  background-repeat: no-repeat;
  background-size: cover;

  min-height: 588px;
  background-color: var(--white);
  border-bottom-left-radius: 4em;
}

/* Social Media Links Styles */
.intro__social-media-links__title {
  text-transform: uppercase;
  color: var(--primary-color-300);
  font-weight: 500;
  line-height: 1.5em;
  padding-bottom: 0.8em;
}

.intro__social-media-links__icons {
  display: flex;
  gap: 1.25em;
}

/* Project Cards Styles */

/* Social Media Links Styles */

/* About Me Styles */

/* Social Media Links Styles */

/* Contact Form Styles */

/* Social Media Links Styles */

/* Footer Styles */
