/* Custom Properties */
:root {
  /* Colors */
  --primary-color-300: #7f8cff;
  --primary-color-400: #6070ff;
  --primary-color-500: #396df2;
  --dark-blue: #172b4d;
  --text-color: #344563;
  --white: #fff;
  --grey-200: #ebebff;
  --grey-300: #f7f7f9;
  --gray-400: #c1c7d0;
  --grey-500: #b3bac5;
  --gray-600: #7a869a;
  --light-blue: #ebebff;
  --border-color: #dfe1e6;
  --background-color: #e5e5e5;

  /* Fonts */
  --font-poppins: "Poppins", sans-serif;

  /* Font Sizes */

  --fs-400: 16px;
  --fs-500: 18px;
  --fs-900: 40px;
}

/* General Styles */
body {
  font-family: var(--font-poppins);
  background-color: var(--background-color);
}

.container {
  min-width: 375px;
  max-width: 1440px;
  margin: 0 auto;
  padding: 1em 2.25em 1em 1.5em;
}

/* Header Styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  background-color: var(--white);
}

/* Logo Styles */
.header__logo {
  color: var(--primary-color-400);
  font-style: normal;
  font-weight: 700;
  font-size: var(--fs-500);
  line-height: 1.25em;
  cursor: pointer;
}

/* Navbar Styles */
.header__nav {
  display: flex;
}

.header__nav__desktop {
  display: none;
}

.header__hamburger-menu {
  cursor: pointer;
}

/* Hero Section Styles */
.hero {
  background-image: url("assets/header-shapes-mobile.svg");
  background-color: var(--white);
  background-repeat: no-repeat;
  background-size: contain;
  min-height: 588px;
  padding-top: 5em;
  border-bottom-left-radius: 4em;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}

.hero__header {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: var(--fs-900);
  line-height: 1.25em;
  display: flex;
  flex-direction: column;
}

.hero__body {
  color: var(--text-color);
  font-weight: 400;
  line-height: 1.5em;
}

/* Social Media Links Styles */
.hero__social-media-links__title {
  text-transform: uppercase;
  color: var(--primary-color-300);
  font-weight: 500;
  line-height: 1.5em;
  padding-bottom: 0.8em;
}

.hero__social-media-links__icons {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 1.25em;
}

/* Works Section Styles */
.works__cards-list {
  margin: 0;
  list-style: none;
  display: grid;
}

.works__project-card {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
  border-radius: 1em;
  padding: 1em;
  background-color: var(--white);
  border: 1px solid var(--border-color);
}

.works__project-card__screenshot {
  border-radius: 0.5em;
}

.works__project-card__title {
  font-weight: 700;
  font-size: var(--fs-800);
}

.works__project-card__summary {
  display: flex;
  gap: 0.8em;
}

.works__project-card__client {
  color: var(--text-color);
  text-transform: uppercase;
  font-size: 300;
  font-weight: 600;
  line-height: 1em;
}

.works__project-card__role,
.works__project-card__year {
  color: var(--gray-600);
  font-size: 300;
  font-weight: 600;
  line-height: 1em;
}

.works__project-card__intro {
  color: var(--text-color);
  font-size: var(--fs-300);
  line-height: 1.5em;
}

.works__project-card__tech-stack-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 0.5em;
}

.works__project-card__tech-stack-item {
  color: var(--primary-color-400);
  background-color: var(--light-blue);
  padding: 0.25em 0.8em;
  border-radius: 0.5em;
}

/* About Me Styles */

/* Social Media Links Styles */

/* Contact Form Styles */

/* Social Media Links Styles */

/* Footer Styles */
